@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    
}

body, html{
    margin: 0;
  }
.wrapper {
    display: grid;
    grid-template-areas:
        "s h"
        "s p";
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
    margin: 0;
}

.header {
    grid-area: h;
    display: grid;
    background-color: white;
    grid-template-rows: repeat(2, 1fr);
}
.wrapper>.header>.search-bar{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 1;
    grid-row: 1 / span 2;
}
.magnify-svg{
    display: flex;
    align-items: center;
}
.magnify-svg>img, .bell>img[src="svg/bell-ring.svg"]{
    transition: all .2s ease-in-out;

}
#sb-top{
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    left: 45px;
    gap: 20px;
}
#sb-bottom{
    display: flex;
    position: relative;
    left: 45px;
    gap: 20px;
    align-items: center;

}
.p-bold-big{
    font-weight: 900;
    font-size: 24px;
}

#search{
    border-radius: 15px;
    width: 800PX;
    height: 25px;
    appearance: none;
    border: 1px solid rgb(155, 155, 155);
    background-color: #E2E8F0;
    
}
.hi-there-p>p{
margin: 0;
padding: 10px;
}
.hi-there-p>p:hover, .bell>p:hover,.card-title:hover, .trending-p-header:hover, .trending>p:hover, .announcement-title-p:hover, .announcements>p:hover{
cursor: pointer;
text-decoration: underline;
color: goldenrod;
}
.hi-there-img>.hi-there-avatar{
    height: 70px;
    width: 70px;
}
.bell-container{
    align-items: center;
    align-self: center;
}
.bell{
    height: 50px;
    justify-content: end;
    width: 350px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.three-buttons{
    display: flex;
    grid-row: 2;
    align-items: center;
    gap: 30px;
    transition: all .2s ease-in-out;
}
.header-button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #1992D4;
    border-style: none;
    color: white;
    /* font-weight: 800; */
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
.icon:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.sidebar {
    grid-area: s;
    background-color: #1992D4;
}


.svg-element, .dashboard {
    display: grid;
    grid-template-columns: 50px 150px;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px;
    transition: all .2s ease-in-out;

}
.svg-element:hover, .three-buttons>button:hover {
    background-color: #0EA5E9;
    cursor: pointer;
    transform: scale(0.99);
    cursor: pointer;
}
.svg-element>.p-bold{
    color: #E2E8F0;
    font-size: 20px;
}
.dashboard>img{
    height: 40px;
}
.top-sidebar>.dashboard>p{
    font-size: 32px;
}

.projects {
    grid-area: p;
    background-color: #E2E8F0;
    display: flex;
    gap: 20px;
}
.cards-wrapper{
    padding-left: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(380px, 0.8fr));
    grid-template-rows: repeat(3, minmax(200px, 210px));
    gap: 20px;
}
.top-sidebar{
    margin-bottom: 30px;
}
.middle-sidebar{
    margin-bottom: 40px;
}
.projects-title-p, .announcements>.p-bold, .trending>.p-bold{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 5px;
}
.card-title{
    padding: 10px 35px;
    
}


.p-bold, .card-title, .trending-p-header{
    font-weight: bold;
    margin: 0;
}
.card-paragraph{
    margin: 0;
    padding:10px 35px;
    

}



.card {
    border-left: 8px solid goldenrod;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; 
    padding: 20px;   
}


.card-svg{
    display: grid;
    grid-template-columns: repeat(3, 40px);
    justify-content: end;
    align-items: center;
    
}
.card-svg>img{
    transition: all .2s ease-in-out;
}
.card-svg>img:hover, .magnify-svg>img:hover, .bell>img[src="svg/bell-ring.svg"]:hover {
    transform: scale(1.5);
    cursor: pointer;
}


 .announcements>div>div>p{
    font-size: 12px;
}
.announcement-title-p{
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 5px;
}
.announcement-p{
    margin: 0;
    margin-bottom: 10px;
}
.announcements>div, .trending>div{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: clamp(150px, 220px, 250px);
}
.announcements-cards-container>.dashed{
    border-bottom: 1px solid black;
}
.trending-sections{
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
}
.trending-sections>img{
    transition: all .2s ease-in-out;
}

.trending-sections>img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.trending>div>div>img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.trending-p{
    margin: 0;
}









