@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');

:root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'BioRhyme', serif;
    font-weight: 200;
    background-color: whitesmoke;

}

body {
    margin: 0;
}

p {
    margin: 0;
}

/* ----------------Boxes---------------- */
.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "s h"
        "s p";


}

/* **********************************header********************************** */


.header {
    grid-area: h;
    display: flex;
    padding: 25px 50px;
    gap: 30px;
    

}

/* ----------------header left---------------- */

.header-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* ---top-- */

.header-left-top {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* ---bottom--- */

.header-left-bottom {
    display: flex;
    gap: 20px;
}

/* ---------------- header right---------------- */

.header-right {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

/* ----top---- */

.header-right-top {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 80px;
    bottom: 15px;
}

/* ----bottom------ */
.header-right-bottom {
    display: flex;
    gap: 20px;
}

/* **********************************sidebar****************************** */
.sidebar {
    grid-area: s;
    background-color: #1c1917e3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;

}
.sidebar-element {
    display: flex;
    gap: 10px;
    color: rgba(218, 165, 32, 0.603);
    font-size: 18px;
    text-transform: capitalize;
    align-items: center;
    padding: 15px;
}
.sidebar-element>img{
    height: 40px;
    transition: all .2s ease-in-out;
}
.sidebar-element>img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* -------top---- */
.top-sidebar>.dashboard>p{
font-size: 24px;
font-weight: 800;
}
.top-sidebar>.dashboard>img{
    height: 65px;
}
/* ----------middle----------- */

/* ***************************Projects**************************** */

.projects {
    grid-area: p;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #E2E8F0;
    padding: 25px;
    gap: 25px;
    box-shadow: inset 0 0 10px;

}

/* projects left---------------------------------------------------- */
.projects-left {
    display: flex;
    flex-direction: column;
}
.card-paragraphs{
padding: 20px;
}
.cards-container {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border-left: 8px solid goldenrod;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.card-svg{
    display: flex;
    gap: 20px;
    justify-content: end;
}
/* -------------------------------------------------projects right */
.projects-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.announcements{
    grid-area: a;
    height: fit-content;
    width: fit-content;
    
}
.trending{
display: flex;
flex-direction: column;
}
/* ---top--- */
.announcements-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}
.announcement-section{  
    max-width: 210px;
    box-sizing: border-box;
    padding: 5px;
    
}

.dashed {
    border-bottom: 1px solid rgb(100, 100, 100);
}

/* ------bottom------- */

.trending-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 15px;
    padding: 20px;
    width: 250px;
}
.trending-sections {
    display: flex;
    width: fit-content;
    gap: 20px;
}

/* -------------images & icons--------------- */
.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}


.icon {
    height: 30px;
    width: 30px;
    transition: all .2s ease-in-out;
}
.icon:hover,.avatar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* -------------text--------------- */

.bold {
    transition: all .2s ease-in-out;
    font-weight: bold;
    color: goldenrod;
}
.bold:hover, .bold-big:hover{
    transform: scale(1.01);
    cursor: pointer;

}

.bold-big {
    font-weight: 800;
    font-size: 24px;
    transition: all .2s ease-in-out;
}

.small {
    font-size: 10px;
}
.trending>p, .announcements>p,.projects-left>p{
    padding-bottom: 10px;
    font-size: 20px;
    width: fit-content;

}
.trending>p:hover, .announcements>p:hover,.projects-left>p:hover, .card-paragraphs>p.bold:hover{
    text-decoration: underline;
}
.trending>p{
    padding-top: 10px;
}
#search{
    border-radius: 15px;
    width: 800PX;
    height: 25px;
    appearance: none;
    border: 1px solid rgb(155, 155, 155);
    background-color: #E2E8F0;
}

/* -------------buttons--------------- */
.header-button {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #1c1917ea;
    border-style: none;
    color: goldenrod;
}
.header-button:hover{
    color: rgb(177, 177, 177);
    cursor: pointer;
}