@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}
.wrapper{
    display: grid;
    grid-template-areas: 
    "s h h"
    "s p n"
    ;
    grid-template-columns:1fr 5fr 1fr;
    grid-template-rows: 1fr 6fr;
}
.header{
grid-area: h;
border: 1px solid green;
}
.sidebar{
grid-area: s;
border: 1px solid rgb(0, 13, 128);
background-color: #1992D4;

}
.svg-element{
    display: flex;
    gap: 10px;
}
.projects{
grid-area: p;
border: 1px solid rgb(128, 0, 117);
display: grid;


}
.cards-container{
    display: grid;
    border: 1px solid rgb(158, 34, 34);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;

    
}
.card{
    border: 1px solid black;
    padding: 50px;
}
.card>p{
    margin: 0;
    padding: 0;
}
.news{
grid-area: n;
border: 1px solid rgb(126, 128, 0);

}