@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    
}

body, html {
    margin: 0;
  }
.wrapper {
    display: grid;
    grid-template-areas:
        "s h h"
        "s p n";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
}

.header {
    grid-area: h;
    display: grid;
    grid-template-columns: 55% 45%;
    background-color: white;
    grid-template-rows: repeat(2, 1fr);
}
.wrapper>.header>.search-bar{
    display: grid;
    grid-template-columns: 50px 600px;
    align-items: center;
    /* justify-content: center; */
    gap: 25px;
    padding-left: 45px;
}
#search{
    border-radius: 30px;
    width: 600px;
    height: 25px;
    appearance: none;
    border: 1px solid rgb(155, 155, 155);
    background-color: #E2E8F0;
    
}
.hi-there{
    display: grid;
    grid-template-columns: 100px 300px;
    padding-left: 45px;
}
.hi-there-img>.hi-there-avatar{
    height: 70px;
    width: 70px;
}
.bell{
    display: grid;
    grid-template-columns: 25px 50px 400px;
    gap: 25px;
    align-items: center;
    justify-content: center;
    

}
.three-buttons{
    display: grid;
    grid-template-columns: repeat(3,100px);
    align-items: center;
    gap: 30px;
}
.header-button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #1992D4;
    border-style: none;
    color: white;
    /* font-weight: 800; */
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.sidebar {
    grid-area: s;
    /* border: 1px solid rgb(0, 13, 128); */
    background-color: #1992D4;

}

.svg-element {
    display: grid;
    grid-template-columns: 60px 150px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.svg-element>.p-bold{
    color: #E2E8F0;
    font-size: 20px;
}
.dashboard>img{
    height: 40px;
}
.top-sidebar>.dashboard>p{
    font-size: 32px;
}

.projects {
    grid-area: p;
    background-color: #E2E8F0;
    display: grid;
    grid-template-rows: 5% 95%;
    padding-right: 25px;
}
.projects>.projects-wrapper{
    
}
.projects>.projects-wrapper>p{
    margin: 0;
  
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.p-bold, .card-title, .trending-p-header{
    font-weight: bold;
}


.card {
    border-left: 8px solid goldenrod;
    width: clamp(200px, 380px, 400px);
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: white;    
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(50px 1fr)); */
    border-radius: 10px;    
}
.card-svg{
    display: grid;
    grid-template-columns: repeat(3, 40px);
    justify-content: end;
    align-items: center;
}
.card>.card-paragraphs{
    padding: 30px;
}
.card>.card-paragraphs>p {
    margin: 0;
    padding: 0;
}

.news {
    grid-area: n;
    background-color: #E2E8F0;
}
.announcements>.p-bold{
    margin: 0;
}
.announcements>div>div>p{
    font-size: 12px;
}
.announcements>div, .trending>div{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: clamp(150px, 280px, 280px);
}
.announcements-cards-container>.dashed{
    border-bottom: 1px solid black;
}
.trending>div>div{
    display: grid;
    grid-template-columns: 70px 200px;
    align-items: center;
}
.trending>div>div>img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}









